.title-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title-section button{
    margin:0;
}



.order{
    display: flex;
}

.box{
    background-color: white;
    box-shadow: var(--shadow-2);
    border-radius: 10px;
    padding: 2rem;
}

.order-left-panel{
    display: flex;
    flex-direction: column;
    width:25%;
    margin-right: 1.8rem;
}


.order-billing{
    margin-top: 1.5rem;
}
.billing-tb-cell{
    margin:0.6rem 0;

}

.billing-table{
    display: flex;
    justify-content: space-between;
    background-color: #ebe7e732;
    padding:1rem;
    border-radius: 5px;
}


.balance{
    display:flex;
    flex-direction: column;
}
.balance-title{
    display:flex;
    justify-content: space-between;
}


.title{
    font-weight: 570;
    color: black;
}


.order-details{
    padding:1.7rem;
}
.order-information{
    display: flex;
    flex-direction: column;

}

.order-information-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.order-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}








hr {
    border-style:none; /* Border style */
    margin: 15px 0; /* Margin above and below */
    width: 100%; /* Width of the line */
    height: 2px; /* Height of the line */
    border-radius: 1px;
    background-color: #d4d4d4;
  }

.order-details-status-option{
    color:#4caf50;
    font-weight:500;
    font-size: 1rem;
    
}


/* ==============================TIMELINE ===========================]*/
.order-timeline{
    width:75%;
}
