.service-card{
    width: 30%;
    position: relative;
    margin-bottom: 2.3rem;
    
}


.service-card-id{
    position: absolute;
    right:0;
    top:0;

    padding: 0.7rem;
    background-color: #651fff;
    border-bottom-left-radius: 5px;
    padding: 0.4rem;
    color: white;
    text-transform: capitalize;
}